# База даних (Критично: дані мають бути лише локально)
*.db
*.sqlite3

# Конфігурація та секрети (Критично: щоб не вкрали API_KEY)
config.py
.env

# Віртуальне середовище
venv/
.venv/
env/

# Кеш Python
__pycache__/
*.py[cod]
*$py.class

# Налаштування редактора (VS Code)
.vscode/

# Системні файли
.DS_Store
Thumbs.db